<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="201940" android:versionName="2019.4.0" package="com.glitchedpolygons.glitchedepistle.client.mobile" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="Glitched Epistle" android:icon="@mipmap/launcher_foreground"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>